:root {
  --background: #343D46;
  --color-primary: #E51839;
  --color-secondary: #B02D48;
  --container-primary: #4F5B66;
  --container-secondary: #65737E;
  --text-primary: #E3E3E3;
  --text-secondary: #FFFFFF;
  font-size: 2.5vh;
  color: var(--text-primary);
}

.content {
  background-color: var(--background);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

/* Banner */
#banner {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

#banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* ----------- */

/* NavBar */

.navbar {
  display: flex;
  gap: 4em;
  position: sticky;
  top: 1em;
  margin-top: -4.5vh;
  background-color: var(--container-primary);
  z-index: 10;
  font-size: 1.5rem;
  border-radius: 1.2em;
  padding: .8em 1.5em .8em 1.5em;
}

.navbar a {
  text-decoration: none;
  color: var(--text-primary);
}

/* ----------- */

.sections {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-top: 5rem;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 60%; /* Adjust this value as needed */
}

section h2 {
  font-size: 1.5rem;
  margin-bottom: 0;
  align-self: center;
}

section h3 {
  font-size: 1.5rem;
  margin-bottom: 0em;
}

/* Service Cards */

.services {
  
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--container-secondary); /* Assuming cards are white */
  padding: 20px;
  margin-bottom: 2rem; /* Space between cards */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Example shadow */
  border-radius: 1.2em;
}

.card-normal {
  flex-direction: row;
}

.card-reverse {
  flex-direction: row-reverse;
}

.card-image {
  flex: 1; /* Take up equal space as card-info */
  align-items: center;
}

.card-info {
  flex: 1; /* Take up equal space as card-image */
  padding: 2em;
}

.card img {
  width: 100%; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
  max-width: 30rem; /* Adjust as needed */
}

.card h3 {
  margin-top: 0;
  margin-bottom: 0.5em; /* Adjust as needed */
  text-align: center;
}

.card p {
  margin-top: 0; /* Adjust as needed */
  text-align: justify;
}

/* ----------- */